@font-face {
  font-family: "Vintage Goods";
  src: url("./assets/Fonts/Vintage Goods.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #2E3F59;
  --color-background-color: #FEF6E8;
  --color-text-on-primary-black: #2e3f59;
  --color-text-on-primary-white: #FFFFFF;

  --font-family-primary: "Vintage Goods", serif;
  --font-family-body: "Ovo", sans-serif;
  --spacing: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  font-family: var(--font-family-body);
  background-color: var(--color-background-color);
  color: var(--color-text-on-primary-black);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
}